* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main {
    position: relative;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    font-family: var(--hff);
    font-size: 18px;
    line-height: 1.44;
    color: var(--bc);
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, rgba(27,18,29,1) 0%, rgba(18,15,47,1) 50%, rgba(27,18,29,1) 100%);
}
/* ROOT */
:root {
    --color1: rgb(204 0 255);
    --color2: rgb(112 0 255);
    --bc: #9ba0b8;
    --hff: 'Heebo', sans-serif;
    --bff: 'Nunito', sans-serif;
}
/*  */
a {
    text-decoration: none;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Heebo', sans-serif;
    color: #ddd;
}

p {
    font-family: var(--bff);
}

/* Preview header */
.preview_header {
    display: flex;
    position: fixed;
    top: 0;
    height: 54px;
    width: 100%;
    background-color: #262626;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header_envato {
    padding-left: 20px;
    color: #81b441;
    font-size: 22px;
    text-decoration: none;
}

.header_envato .text1 {
    color: #fff;
}

.buynow {
    background-color: #82B440;
    text-decoration: none;
    margin-right: 20px;
    padding: 7px 20px;
    border-radius: 4px;
    text-align: center;
    transition: all 0.5s ease;
}

.buynow:hover {
    opacity: 0.7;
    cursor: pointer;
}

.header_buynow {
    text-decoration: none;
    font-size: 14px;
}
/* Container */
.container {
    display: block;
    margin-top: 54px;
    /* background-color: rgba(27,18,29,1); */
    width: 100%;
    background: linear-gradient(90deg, rgba(27,18,29,1) 0%, rgba(18,15,47,1) 50%, rgba(27,18,29,1) 100%);
}
/* 1. Header */
/* Header LOGO */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    position: fixed;
    top: 54px;
    left: 0;
    right: 0;
    z-index: 250;
    transition: all 0.3s ease;
    border-bottom: 1px solid transparent;
}

.header-active {
    z-index: 60;
    padding: 20px 30px;
    border-bottom-color: rgba(255,255,255,0.08);
    background-color: rgba(27,16,29,1);
}

.header_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_logo .trigger {
    padding: 10px 17px;
    background-color: #000;
    border-radius: 100%;
    color: #bbb;
    font-size: 20px;
    margin-right: 20px;
    transition: all 0.3s ease;
}

.header_logo .trigger:hover {
    box-shadow: 0px 5px 20px rgba(204, 0, 255, 0.5); 
    /* cc00ff */
    cursor: pointer;
    opacity: 0.9;
}

.header_logo .logo {
    max-width: 100%;
}
/* Header NAV */
.header_nav {

}

.header_nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    /* margin-left: 45px; */
}

.header_nav li {
    margin-left: 45px;
}

.header_nav li a {
    font-size: 17px;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.header_nav li a:hover {
    opacity: 1;
    color: #cc00ff;
    padding-bottom: 5px;
    border-bottom: 2px solid #cc00ff;
}

.header_wallet {
    cursor: pointer;
}

.wallet_button {
    font-family: 'Heebo', sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 13px 30px;
    border: 3px solid #cc00ff;
    border-radius: 5px;
    color: #DDD;
    text-transform: uppercase;
    transition: all 0.35s ease;
}

.wallet_button:hover {
    opacity: 0.7;
}

/* CONTENT */
.content {
    padding-top: 180px;
    box-sizing: border-box;
}

.home {
    
}

.container_home {
    width: 100%;
    padding: 0 100px 150px;
    margin: 0 auto;
}

.container_home h3 {
    text-align: center;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: 0.5px;
    position: relative;
    z-index: 5;
}

.container_home h3::before {
    position: absolute;
    z-index: -1;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,var(--color1), var(--color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    content: "META LEGENDS";
}

.container_home .home_slider {
    padding: 0 20px;
    overflow: hidden;
}
/* SLIDER top */
.slider_top{
	padding: 59px 0 73px;
	position: relative;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center;  */
    /* flex-wrap: wrap; */
    /* perspective: 1000px !important;
    perspective-origin: 50% 50% !important; */
}

.slider_top .image-item {
    margin: 0 10px;
    box-sizing:border-box;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.image-item .item {
    perspective: 1000px ;
    perspective-origin: 50% 50% ;
}

.image-item img {
	border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .slider_top > img{
	width: 33.3333% !important;
	min-width: 33.3333%  !important;
} */
/* SLICK */
.container_home .slick-initialized .slick-slider {
    margin: 0 10px;
    position: relative;
}

.container_home .slick-slide {
    transform: scale(0.75);
    transition: all 0.4s ease-in-out;
    padding: 40px 0;
}

.container_home  .slick-slide img {
    max-width: 100%;
    transition: all 0.4s ease-in-out;
}

.container_home .slick-center {
    transform: scale(1);
    transition: all 0.4s ease-in-out;
}

.container_home .slick-prev {
    left: 42%;
}

.container_home .slick-next {
    right: 42%;
}

.container_home .slick-arrow {
    position: absolute;
    bottom: 0;
    transform: translateY(-30%);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
    margin-top: 10px;
    padding: 9px 12px;
    cursor: pointer;
}

.container_home .slick-arrow:hover {
    box-shadow: 0px 0px 15px rgba(204, 0, 255, 0.8); 

}

.container_home .slick-arrow::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: -100%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    display: block;
    border-radius: 100%;
}

.container_home .slick-arrow::after{
    position: absolute;
    content: "";
    bottom: 0;
    right: -100%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    display: block;
    border-radius: 100%;
    /* flex-direction: column; */
}
/* SLIDER text */
.slider_text {
    box-sizing: border-box;
    padding-top: 54px;
    display: flex;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 41px;
    flex-direction: column;
}

.slider_text p {
    margin-bottom: 40px;
}

.slider_text a {
    font-size: 14px;
    font-family: var(--hff);
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #ddd;
    line-height: 21px;
    font-weight: 600;
    padding: 14px 26px;
    border: 3px solid var(--color1);
    border-radius: 5px;
}

/* Funs-fact */
#funs-fact {
    border-top: 1px solid rgba(255,255,255,.08);
    border-bottom: 1px solid rgba(255,255,255,.08);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    padding: 132px 0 87px;
}
.container-ff {
    width: 100%;
    max-width: 1800px;
    padding: 0 100px;
    margin: 0 auto;
}

.container-ff ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.container-ff ul li {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.container-ff h3 {
    width: fit-content;
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
    background: linear-gradient(to right,var(--color1), var(--color2));
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: #160f1a; 
    /* padding: 0 10px; */
}

.container-ff .divider{
	position: absolute;
    margin: 0 auto;
	left: 130%;
	top: 25px;
	width: 140px;
	height: 2px;
	background-color: rgba(255,255,255,.5);
}
.container-ff .divider:after,
.container-ff .divider:before{
	width: 16px;
	content: '';
	position: absolute;
	height: 2px;
	background-color: rgba(255,255,255,.5);
	transform: rotate(-65deg);
}
.container-ff .divider:before{
	left: 50%;
	margin-left: -11px;
}
.container-ff .divider:after{
	left: 50%;
	margin-left: -5px;
}
/* ABOUT */
#about {
    display: flex;
    flex-direction: column;
    padding: 150px 0;
}

#about .row {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}

.row .col_left {
    width: 57%;
    padding: 110px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.col_left .img_in {
    width: 542px;
    max-width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    z-index: 5;
    position: relative;
}

.img_in img {
    min-width: 100%;
    vertical-align: middle;
    border-radius: 10px;
}

.col_left .img_bg {
    position: absolute;
    z-index: 1;
    right: 130px;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.img_bg .bg_color {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.img_bg img {
    min-width: 100%;
    overflow: hidden;
    vertical-align: middle;
}

.row .col_right {
    width: 43%;
    padding: 110px 160px;
}

.col_right h3,
.col_a_left h3{
    color: #ddd;
    font-size: 36px;
    margin: 0 0 15px;
    font-weight: 100;
    letter-spacing: 0.5px;
    position: relative;
    z-index: 5;
}

.col_right h3::before {
    content: "The Rise of Legends";
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--color1), var(--color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
}

.col_right .divider, 
.col_a_left .divider{
    width: 140px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    z-index: 5;
}

.col_right .divider::before,
.col_a_left .divider::before,
.col_right .divider::after,
.col_a_left .divider::after {
    width: 16px;
    content: "";
    height: 2px;
    position: absolute;
    transform: rotate(-65deg);
    background-color: rgba(255, 255, 255, 0.5);
}

.col_right .divider::before,
.col_a_left .divider::before{
    left: -1px;
}

.col_right .divider::after,
.col_a_left .divider::after {
    left: 5px;
}

.desc_text {
    margin-top: 25px;
    margin-bottom: 40px;
    font-family: var(--bff);
}

.desc_text p {
    margin-bottom: 27px;
    font-size: 18px;
}

.button_about_row {

}

.button_a_r {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 15px 25px;
    border: 3px solid var(--color1);
    box-sizing: border-box;
    border-radius: 10px;
    /* background: linear-gradient(45deg,var(--color1),var(--color2),var(--color1),var(--color2)) border-box;
    animation: animatedgradient 4s ease alternate infinite;
    mask-composite: exclude; */
}

.button_a_r:hover {
    opacity: 0.7;
}

.container_about .row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 160px 150px 0;
}

.row2 .col_a_left {
    width: 40%;
    padding: 0 100px 0 0;
}

.col_a_left h3::before {
    content: "How to Mint";
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--color1), var(--color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
}

.row2 .col_a_right {
    width: 60%;
}

.col_a_right ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -70px;
}

.col_a_right li {
    width: 50%;
    padding: 0 0 70px 70px;
}

.col_a_right .item {
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
    position: relative;
}

.col_a_right .item_in {
    height: 100%;
    padding: 57px 50px 54px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.03);
}

.col_a_right h3 {
    width: fit-content;
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
    background: linear-gradient(to right,var(--color1), var(--color2));
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: #1a1734; 
    margin-bottom: 14px;
}

.col_a_right p {
    font-size: 16px;
    color: var(--bc);
    font-weight: 600;
}

.col_a_right .about_video {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.about_video img {
    width: fit-content;
    max-width: 100%;
    min-height: 240px;
    border-radius: 10px;
}

.ytb_about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    padding: 30px 35px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    cursor: pointer;
    opacity: 0.7;
}

.ytb_about:hover {
    opacity: 1;
}
/* Divider section */
.divider_section{
	width: 100%;
	position: relative;
	height: 12px;
    box-sizing: border-box;
}
.divider_section .divider{
	position: relative;
	display: flex;
	margin: 0 auto;
	width: fit-content;
    flex-direction: row;
	max-width: 100%;
}

.divider_section .same_size{
	height: 12px;
	position: relative;
	display: block;
	border: 2px solid rgba(255,255,255,.5);
	border-radius: 12px;
	background-color: rgba(255,255,255,.05);
    margin: 20px 20px 20px;
    box-sizing: border-box;
}
.divider_section .circle{
    border-radius: 100%;
	width: 12px;
}
.divider_section .long{
	width: 200px;
}

.divider_section .pre_divider {
    position: relative;
	display: block;
    display: flex;
    margin: 25.5px 0  25.5px;
    left: 0;
    width: 500px;
    height: 1px;
    text-align: center;
    background-color: rgba(255,255,255,.15);
}
/* COLLECTION */
#collection {
    padding: 144px 0 150px;
    width: 100%;
    margin: 0;
}

.container_clt {
    width: 100%;
    padding: 0 100px;
}

.title_big {
    color: #ddd;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: 0.5px;
    position: relative;
    z-index: 5;
    text-align: center;
    margin: 0 auto 140px;
}

.title_big::before {
    content: "OUR COLLECTION";
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--color1), var(--color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
}

.list_collection {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding-right: 40px;
}

.col_top {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    align-items: flex-end;
}

.col_top .item {
    width: 18.8%;
    margin: 0 0 40px 40px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rbga(255, 255, 255, 1);
    position: relative;
    padding: 20px;
    border-radius: 10px;
    display: block;
    box-sizing: border-box;
    transition: all 0.35s ease-in-out;
}

.col_top .item:hover {
    box-shadow: 0px 5px 20px var(--color1);
}

.col_top .w_smalll {
    width: 18.8%;
    height: 18.8%;
}

.col_top .w_big {
    width: 31.2%;
}

.col_top img {
    width: 100%;
}

.col_bottom {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    align-items: flex-start;
}

.col_bottom .item {
    width: 18.8%;
    margin: 0 0 40px 40px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rbga(255, 255, 255, 1);
    position: relative;
    padding: 20px;
    border-radius: 10px;
    display: block;
    box-sizing: border-box;
    transition: all 0.35s ease-in-out;
}

.col_bottom .item:hover {
    box-shadow: 0px 5px 20px var(--color1);
}

.col_bottom .w_smalll {
    width: 18.8%;
    height: 18.8%;
}

.col_bottom .w_big {
    width: 31.2%;
}

.col_bottom img {
    width: 100%;
}

.desc_clt {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.desc_clt p {
    font-size: 24px;
    color: #9ba0b8;
    line-height: 34px;
    margin-bottom: 40px;
}

.desc_clt a {
    font-size: 14px;
    color: #ddd;
    padding: 12px 30px;
    border: 3px solid var(--color1);
    border-radius: 5px;
}

/* ROAD MAP */
.roadmap {
    padding: 144px 0 150px;
    width: 100%;
    margin: 0;
}

.container_map {
    width: 100%;
    padding: 0 150px;
}


.container_map .title_big::before {
    content: "ROAD MAP";
}

.step_map {
    border: 1px dashed rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 45px 50px;
    margin-bottom: 40px;
}

.slider_step {
    display: flex;
    flex-direction: row;
}

.slider_step .item {
    width: fit-content;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin: 0 20px;
}

.slider_step .phase {
    display: block;
    width: fit-content;
    color: #9ba0b8;
    font-size: 16px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0px 40px;
    line-height: 40px;
    text-transform: uppercase;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 28px;
}

.slider_step .item_in {
    margin: 0 40px 40px;
}

.slider_step p {
    color: #9ba0b8;
    font-size: 18px;
}

.slider_step h3 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 7px;
    margin-bottom: 20px;
}

/* BLOG */
#blog {
    padding: 144px 0 150px;
    width: 100%;
    margin: 0;
}
.container_blog {
    width: 100%;
    padding: 0 150px;
}

.container_blog .title_big::before {
    content: "LASTEST ARTICLES";
}

.box_blog {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 40px;
}

.box_blog .col_1 {
    width: 50%;
    margin: 0 10px;
    display: flex;
    align-items: stretch;
}

.box_blog .item_in {
    padding: 40px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.number span {
    background-color: transparent;
    border: 3px solid var(--color1);
    padding: 12px 12px;
    border-radius: 100%;
}

.time {
    margin-top: 25px;
    font-size: 18px;
    color: #9ba0b8;
    margin-bottom: 7px;
}

.title {
    margin-bottom: 30px;
}

.item_in .title h3 a{
    font-weight: 100;
    color: #ddd;
    font-size: 30px;
    transition: all 0.35s ease;
}

.title h3 a:hover {
    color: var(--color1);
}

.box_blog img {
    max-width: 100%;
    border-radius: 10px;
}

.box_blog .image {
    border-radius: 10px;
}

.readmore a {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #9ba0b8;
    padding-left: 100px;
    position: relative;
    transition: all 0.3s ease;
}

.item_in:hover .readmore a {
    padding-left: 80px;
}

.readmore a span {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.readmore a span:hover {
    color: var(--color1);
}

.item_in:hover .readmore span {
    opacity: 1;
}

.readmore a::after {
    content: "";
    position: absolute;
    left: 0;
    height: 1px;
    top: 50%;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
    opacity: 1;
}

.item_in:hover .readmore a::after {
    width: 50px;
}

.box_blog .col_2 {
    width: 50%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-left: 30px;
}

.bottom_box {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.button_read {
    width: 48.5%;
    margin-left: 10px;
    border: 3px solid var(--color1);
    border-radius: 10px;
    text-align: center;
    padding: 24px 0;
}

.button_read:hover {
    cursor: pointer;
    opacity: 0.7;
}

.button_read a {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #ddd;
    font-weight: 700;
}

.desc_box {
    width: 50%;
    padding: 0 40px 0 60px;
    display: flex;
    align-items: center;
}

.desc_box p {
    font-size: 18px;
    color: #9ba0b8;+
}

/* CONTACT */
#contact {
    padding: 144px 0 150px;
    width: 100%;
    margin: 0;
}

.container_contact {
    width: 100%;
    padding: 0 150px;
}

#contact .title_big::before {
    content: "CONTACT US";
}























