* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: var(--hff);
    font-size: 18px;
    line-height: 1.44;
    color: var(--bc);
    height: 100vh;
    background: linear-gradient(90deg, rgba(27,18,29,1) 0%, rgba(18,15,47,1) 50%, rgba(27,18,29,1) 100%);
}
/* ROOT */
:root {
    --color1: rgb(204 0 255);
    --color2: rgb(112 0 255);
    --bc: #9ba0b8;
    --hff: 'Heebo', sans-serif;
    --bff: 'Nunito', sans-serif;
}
/*  */
a {
    text-decoration: none;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Heebo', sans-serif;
    color: #ddd;
}
/* Preview header */
.preview_header {
    display: flex;
    position: fixed;
    top: 0;
    height: 54px;
    width: 100%;
    background-color: #262626;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header_envato {
    padding-left: 20px;
    color: #81b441;
    font-size: 22px;
    text-decoration: none;
}

.header_envato .text1 {
    color: #fff;
}

.buynow {
    background-color: #82B440;
    text-decoration: none;
    margin-right: 20px;
    padding: 7px 20px;
    border-radius: 4px;
    text-align: center;
    transition: all 0.5s ease;
}

.buynow:hover {
    opacity: 0.8;
    cursor: pointer;
}

.header_buynow {
    text-decoration: none;
    font-size: 14px;
}
/* Container */
.container {
    display: block;
    margin-top: 54px;
    /* background-color: rgba(27,18,29,1); */
    background: linear-gradient(90deg, rgba(27,18,29,1) 0%, rgba(18,15,47,1) 50%, rgba(27,18,29,1) 100%);
}
/* 1. Header */
/* Header LOGO */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    position: fixed;
    top: 54px;
    left: 0;
    right: 0;
    z-index: 250;
    transition: all 0.3s ease;
    border-bottom: 1px solid transparent;
}

.header-active {
    z-index: 60;
    padding: 20px 30px;
    border-bottom-color: rgba(255,255,255,0.08);
    background-color: rgba(27,16,29,1);
}

.header_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_logo .trigger {
    padding: 13px 17px;
    background-color: #000;
    border-radius: 100%;
    color: #bbb;
    font-size: 20px;
    margin-right: 20px;
    transition: all 0.3s ease;
}

.header_logo .trigger:hover {
    box-shadow: 0px 5px 20px rgba(204, 0, 255, 0.5); 
    /* cc00ff */
    cursor: pointer;
    opacity: 0.9;
}

.header_logo .logo {
    max-width: 100%;
}
/* Header NAV */
.header_nav {

}

.header_nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    /* margin-left: 45px; */
}

.header_nav li {
    margin-left: 45px;
}

.header_nav li a {
    font-size: 17px;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.header_nav li a:hover {
    opacity: 1;
    color: #cc00ff;
    padding-bottom: 5px;
    border-bottom: 2px solid #cc00ff;
}

.header_wallet {
    cursor: pointer;
}

.wallet_button {
    font-family: 'Heebo', sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 13px 30px;
    border: 3px solid #cc00ff;
    border-radius: 5px;
    color: #DDD;
    text-transform: uppercase;
}

/* CONTENT */
.content {
    padding-top: 180px;
    box-sizing: border-box;
}

.home {
    
}

.container_home {
    width: 100%;
    padding: 0 100px 150px;
    margin: 0 auto;
}

.container_home h3 {
    text-align: center;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: 0.5px;
    position: relative;
    z-index: 5;
}

.container_home h3::before {
    position: absolute;
    z-index: -1;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,var(--color1), var(--color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    content: "META LEGENDS";
}

.container_home .home_slider {
    padding: 0 20px;
    overflow: hidden;
}
/* SLIDER top */
.slider_top{
	padding: 59px 0 73px;
	position: relative;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center;  */
    /* flex-wrap: wrap; */
    /* perspective: 1000px !important;
    perspective-origin: 50% 50% !important; */
}

.slider_top .image-item {
    margin: 0 10px;
    box-sizing:border-box;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.image-item .item {
    perspective: 1000px ;
    perspective-origin: 50% 50% ;
}

.image-item img {
	border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .slider_top > img{
	width: 33.3333% !important;
	min-width: 33.3333%  !important;
} */
/* SLICK */
.slick-initialized .slick-slider {
    margin: 0 10px;
    position: relative;
}

.slick-slide {
    transform: scale(0.75);
    transition: all 0.4s ease-in-out;
    padding: 40px 0;
}

.slick-slide img {
    max-width: 100%;
    transition: all 0.4s ease-in-out;
}

.slick-center {
    transform: scale(1);
    transition: all 0.4s ease-in-out;
}

.slick-prev {
    left: 42%;
}

.slick-next {
    right: 42%;
}

.slick-arrow {
    position: absolute;
    bottom: 0;
    transform: translateY(-30%);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
    margin-top: 10px;
    padding: 9px 12px;
    cursor: pointer;
}

.slick-arrow:hover {
    box-shadow: 0px 0px 15px rgba(204, 0, 255, 0.8); 

}

.slick-arrow::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: -100%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    display: block;
    border-radius: 100%;
}

.slick-arrow::after{
    position: absolute;
    content: "";
    bottom: 0;
    right: -100%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    display: block;
    border-radius: 100%;
    /* flex-direction: column; */
}
/* SLIDER text */
.slider_text {
    box-sizing: border-box;
    padding-top: 54px;
    display: flex;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 41px;
    flex-direction: column;
}

.slider_text p {
    margin-bottom: 40px;
}

.slider_text a {
    font-size: 14px;
    font-family: var(--hff);
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #ddd;
    line-height: 21px;
    font-weight: 600;
    padding: 14px 26px;
    border: 3px solid var(--color1);
    border-radius: 5px;
}

/* Funs-fact */
#funs-fact {
    border-top: 1px solid rgba(255,255,255,.08);
    border-bottom: 1px solid rgba(255,255,255,.08);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    padding: 132px 0 87px;
}
.container-ff {
    width: 100%;
    max-width: 1800px;
    padding: 0 100px;
    margin: 0 auto;
}

.container-ff ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.container-ff ul li {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.container-ff h3 {
    width: fit-content;
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
    background: linear-gradient(to right,var(--color1), var(--color2));
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: #160f1a; 
    /* padding: 0 10px; */
}

.container-ff .divider{
	position: absolute;
    margin: 0 auto;
	left: 130%;
	top: 25px;
	width: 140px;
	height: 2px;
	background-color: rgba(255,255,255,.5);
}
.container-ff .divider:after,
.container-ff .divider:before{
	width: 16px;
	content: '';
	position: absolute;
	height: 2px;
	background-color: rgba(255,255,255,.5);
	transform: rotate(-65deg);
}
.container-ff .divider:before{
	left: 50%;
	margin-left: -11px;
}
.container-ff .divider:after{
	left: 50%;
	margin-left: -5px;
}
/* ABOUT */
#about {
    display: flex;
    flex-direction: column;
    padding: 150px 0;
}

#about .row {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}

.row .col_left {
    width: 57%;
    padding: 110px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.col_left .img_in {
    width: 542px;
    max-width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    z-index: 5;
    position: relative;
}

.img_in img {
    min-width: 100%;
    vertical-align: middle;
    border-radius: 10px;
}

.col_left .img_bg {
    position: absolute;
    z-index: 1;
    right: 130px;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.img_bg .bg_color {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.img_bg img {
    min-width: 100%;
    overflow: hidden;
    vertical-align: middle;
}

.row .col_right {
    width: 43%;
    padding: 110px 160px;
}

.col_right h3 {
    color: #ddd;
    font-size: 36px;
    margin: 0 0 15px;
    font-weight: 200;
    letter-spacing: 0.5px;
    position: relative;
    z-index: 5;
}

.col_right h3::before {
    content: "The Rise of Legends";
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--color1), var(--color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
}

.col_right .divider {
    width: 140px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    z-index: 5;
}

.col_right .divider::before,
.col_right .divider::after {
    width: 16px;
    content: "";
    height: 2px;
    position: absolute;
    transform: rotate(-65deg);
    background-color: rgba(255, 255, 255, 0.5);
}

.col_right .divider::before {
    left: -1px;
}

.col_right .divider::after {
    left: 5px;
}

.desc_text {
    margin-top: 25px;
    margin-bottom: 40px;
}

.desc_text p {
    margin-bottom: 27px;
    font-size: 18px;
}

.button_about_row {

}

.button_a_r {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 15px 25px;
    border: 3px solid var(--color1);
    box-sizing: border-box;
    border-radius: 10px;
    /* background: linear-gradient(45deg,var(--color1),var(--color2),var(--color1),var(--color2)) border-box;
    animation: animatedgradient 4s ease alternate infinite;
    mask-composite: exclude; */
}

.button_a_r:hover {
    opacity: 0.7;
}












